1_introduction_apprentissage_statistique-part1/Exercises/correction/*
2_introduction_apprentissage_statistique-part2/Exercises/correction/*
/4_donnees_numeriques_et_structurees/Project/*.tar.gz
/4_donnees_numeriques_et_structurees/Project/*.zip
/4_donnees_numeriques_et_structurees/Project/data/
/4_donnees_numeriques_et_structurees-part2/Project/*.tar.gz
/4_donnees_numeriques_et_structurees-part2/Project/*.zip
/4_donnees_numeriques_et_structurees-part2/Project/data/
/3_donnees_numeriques_et_structurees-part1/TP_MongoDB/data/
/3_donnees_numeriques_et_structurees-part1/TP_MongoDB/correction

