01_introduction_apprentissage_statistique-part1/Exercises/correction/*
02_introduction_apprentissage_statistique-part2/Exercises/correction/*
04_donnees_numeriques_et_structurees-part2/Project/*.tar.gz
04_donnees_numeriques_et_structurees-part2/Project/*.zip
04_donnees_numeriques_et_structurees-part2/Project/data/
03_donnees_numeriques_et_structurees-part1/TP_MongoDB/data/
03_donnees_numeriques_et_structurees-part1/TP_MongoDB/correction
03_donnees_numeriques_et_structurees-part1/TP_MongoDB/*.log*
08_donnees_multimedia-part2/Project/data/
09_apprentissage_supervise-part2/tp_learning_curve/correction
*log*
*.ova
*.rar
15_reseaux_bayesiens_hmm-part1/System Volume Information/
14_apprentissage_non_supervise-part2/Project/data_papers/
