01_introduction_apprentissage_statistique-part1/Exercises/correction/*
02_introduction_apprentissage_statistique-part2/Exercises/correction/*
04_donnees_numeriques_et_structurees-part2/Project/*.tar.gz
04_donnees_numeriques_et_structurees-part2/Project/*.zip
04_donnees_numeriques_et_structurees-part2/Project/data/
03_donnees_numeriques_et_structurees-part1/TP_MongoDB/data/
03_donnees_numeriques_et_structurees-part1/TP_MongoDB/correction
03_donnees_numeriques_et_structurees-part1/TP_MongoDB/*.log*
08_donnees_multimedia-part2/Project/data/
09_apprentissage_supervise-part2/tp_learning_curve/correction
*log*
*.ova
*.rar
15_reseaux_bayesiens_hmm-part1/System Volume Information/
14_apprentissage_non_supervise-part2/Project/data_papers/
14_apprentissage_non_supervise-part2/Project/functions.pyc
14_apprentissage_non_supervise-part2/Project/report_latex/f@lot.tex
14_apprentissage_non_supervise-part2/Project/report_latex/report.aux
14_apprentissage_non_supervise-part2/Project/report_latex/report.bbl
14_apprentissage_non_supervise-part2/Project/report_latex/report.blg
14_apprentissage_non_supervise-part2/Project/report_latex/report.lof
14_apprentissage_non_supervise-part2/Project/report_latex/report.lot
14_apprentissage_non_supervise-part2/Project/report_latex/report.out
14_apprentissage_non_supervise-part2/Project/report_latex/report.toc
14_apprentissage_non_supervise-part2/Project/report_latex/tf@toc.tex
14_apprentissage_non_supervise-part2/Project/utils.pyc
25_projet_data_scientist/introduction0/presentation-projet.aux
25_projet_data_scientist/introduction0/presentation-projet.bbl
25_projet_data_scientist/introduction0/presentation-projet.blg
25_projet_data_scientist/introduction0/presentation-projet.lof
25_projet_data_scientist/introduction0/presentation-projet.lot
25_projet_data_scientist/introduction0/presentation-projet.out
25_projet_data_scientist/introduction0/presentation-projet.tex.backup
25_projet_data_scientist/introduction0/presentation-projet.toc
25_projet_data_scientist/introduction0/presentation-projet.blg
25_projet_data_scientist/France/*.jpg*
25_projet_data_scientist/Uruguay/*.jpg*
25_projet_data_scientist/Gabon/*.jpg*
25_projet_data_scientist/USA/*.jpg*
25_projet_data_scientist/Kenya/*.jpg*
25_projet_data_scientist/NewZealand/*.jpg*
25_projet_data_scientist/1_pre-processing/pre-processing-projet.aux
25_projet_data_scientist/1_pre-processing/pre-processing-projet.bbl
25_projet_data_scientist/1_pre-processing/pre-processing-projet.blg
25_projet_data_scientist/1_pre-processing/pre-processing-projet.lof
25_projet_data_scientist/1_pre-processing/pre-processing-projet.lot
25_projet_data_scientist/1_pre-processing/pre-processing-projet.out
25_projet_data_scientist/1_pre-processing/pre-processing-projet.tex.backup
25_projet_data_scientist/1_pre-processing/pre-processing-projet.toc
25_projet_data_scientist/1_pre-processing/pre-processing-projet.blg
25_projet_data_scientist/2_georeferencing/georeferencing.aux
25_projet_data_scientist/2_georeferencing/georeferencing.lof
25_projet_data_scientist/2_georeferencing/georeferencing.out
25_projet_data_scientist/2_georeferencing/georeferencing.tex.backup
25_projet_data_scientist/2_georeferencing/georeferencing.toc
24_apprentissage_distribue_et_fouille_de_graphes-part2/Exam/report.aux
24_apprentissage_distribue_et_fouille_de_graphes-part2/Exam/report.log
24_apprentissage_distribue_et_fouille_de_graphes-part2/Exam/report.out
24_apprentissage_distribue_et_fouille_de_graphes-part2/Exam/report.tex.backup
LC*/
*.TIF
25_projet_data_scientist/3_ndvi/ndvi.aux
25_projet_data_scientist/3_ndvi/ndvi.lof
25_projet_data_scientist/3_ndvi/ndvi.out
25_projet_data_scientist/3_ndvi/ndvi.lot
25_projet_data_scientist/3_ndvi/ndvi.toc
25_projet_data_scientist/3_ndvi/ndvi.tex.backup

